<% content_for :title, "Sign in" %>

<controls class="turbo-native-hidden">
  <%= button_tag "Sign in", form: "login_form",
    data: { controller: 'bridge--custom', bridge__custom_target: "submit" }
   %>
</controls>

<%= form_with model: @employee, url: employee_session_path, :html => {:id => 'login_form'}, method: :post do |form| %>
  <fieldset>
    <field>
      <label for="employee_email">Email</label>
      <input name="employee[email]" id="employee_email">
    </field>
    <field>
      <label for="employee_password">Password</label>
      <input name="employee[password]" type="password" id="employee_password">
    </field>
    <field>
      <label for="employee_remember_me">Remember me</label>
      <input name="employee[remember_me]" type="checkbox" id="employee_remember_me" checked>
    </field>
  </fieldset>
<% end %>
