<div style="height: 10px">
</div>
<%= form_with(model: shipper, url: false, :html => {:id => 'shipper_form'}) do %>
  <fieldset <%= 'disabled' if disabled %>>
    <%= text_field(@shipper, :company_name) %>
    <%= text_field(@shipper, :phone) %>
  </fieldset>
<% end %>
