/**
* Document
* Content-box & Responsive typography
*/
*,
*::before,
*::after {
box-sizing: border-box;
background-repeat: no-repeat;
}

::before,
::after {
text-decoration: inherit;
vertical-align: inherit;
}

:where(:root) {
-webkit-tap-highlight-color: transparent;
-webkit-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
text-size-adjust: 100%;
background-color: var(--pico-background-color);
color: var(--pico-color);
font-weight: var(--pico-font-weight);
font-size: var(--pico-font-size);
line-height: var(--pico-line-height);
font-family: var(--pico-font-family);
text-underline-offset: var(--pico-text-underline-offset);
text-rendering: optimizeLegibility;
overflow-wrap: break-word;
-moz-tab-size: 4;
-o-tab-size: 4;
tab-size: 4;
}

