/**
* Modal (<dialog>)
*/
:root {
--pico-scrollbar-width: 0px;
}

dialog {
display: flex;
z-index: 999;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
align-items: center;
justify-content: center;
width: inherit;
min-width: 100%;
height: inherit;
min-height: 100%;
padding: 0;
border: 0;
-webkit-backdrop-filter: var(--pico-modal-overlay-backdrop-filter);
backdrop-filter: var(--pico-modal-overlay-backdrop-filter);
background-color: var(--pico-modal-overlay-background-color);
color: var(--pico-color);
}
dialog article {
width: 100%;
max-height: calc(100vh - var(--pico-spacing) * 2);
margin: var(--pico-spacing);
overflow: auto;
}
@media (min-width: 576px) {
dialog article {
max-width: 510px;
}
}
@media (min-width: 768px) {
dialog article {
max-width: 700px;
}
}
dialog article > header > * {
margin-bottom: 0;
}
dialog article > header :is(a, button)[rel=prev] {
margin: 0;
margin-left: var(--pico-spacing);
padding: 0;
float: right;
}
dialog article > footer {
text-align: right;
}
dialog article > footer button,
dialog article > footer [role=button] {
margin-bottom: 0;
}
dialog article > footer button:not(:first-of-type),
dialog article > footer [role=button]:not(:first-of-type) {
margin-left: calc(var(--pico-spacing) * 0.5);
}
dialog article :is(a, button)[rel=prev] {
display: block;
width: 1rem;
height: 1rem;
margin-top: calc(var(--pico-spacing) * -1);
margin-bottom: var(--pico-spacing);
margin-left: auto;
border: none;
background-image: var(--pico-icon-close);
background-position: center;
background-size: auto 1rem;
background-repeat: no-repeat;
background-color: transparent;
opacity: 0.5;
transition: opacity var(--pico-transition);
}
dialog article :is(a, button)[rel=prev]:is([aria-current]:not([aria-current=false]), :hover, :active, :focus) {
opacity: 1;
}
dialog:not([open]), dialog[open=false] {
display: none;
}

