<% items.each do |key, value| %>
  <div>
    <a data-action="search-results#select" href="#">
      <%= hidden_field_tag :item_id, key  %>
      <% if defined? q %>
        <%= highlight(value, q) %>
      <% else %>
        <%= value %>
      <% end %>
    </a>
  </div>
<% end %>
