/**
* Input type datetime
*/
input:not([type=checkbox], [type=radio], [type=range], [type=file]):is([type=date], [type=datetime-local], [type=month], [type=time], [type=week]) {
--pico-icon-position: 0.75rem;
--pico-icon-width: 1rem;
padding-right: calc(var(--pico-icon-width) + var(--pico-icon-position));
background-image: var(--pico-icon-date);
background-position: center right var(--pico-icon-position);
background-size: var(--pico-icon-width) auto;
background-repeat: no-repeat;
}
input:not([type=checkbox], [type=radio], [type=range], [type=file])[type=time] {
background-image: var(--pico-icon-time);
}

[type=date]::-webkit-calendar-picker-indicator,
[type=datetime-local]::-webkit-calendar-picker-indicator,
[type=month]::-webkit-calendar-picker-indicator,
[type=time]::-webkit-calendar-picker-indicator,
[type=week]::-webkit-calendar-picker-indicator {
width: var(--pico-icon-width);
margin-right: calc(var(--pico-icon-width) * -1);
margin-left: var(--pico-icon-position);
opacity: 0;
}

@-moz-document url-prefix() {
[type=date],
[type=datetime-local],
[type=month],
[type=time],
[type=week] {
padding-right: var(--pico-form-element-spacing-horizontal) !important;
background-image: none !important;
}
}
[dir=rtl] :is([type=date], [type=datetime-local], [type=month], [type=time], [type=week]) {
text-align: right;
}

