/**
* Reduce Motion Features
*/
@media (prefers-reduced-motion: reduce) {
*:not([aria-busy=true]),
:not([aria-busy=true])::before,
:not([aria-busy=true])::after {
background-attachment: initial !important;
animation-duration: 1ms !important;
animation-delay: -1ms !important;
animation-iteration-count: 1 !important;
scroll-behavior: auto !important;
transition-delay: 0s !important;
transition-duration: 0s !important;
}
}
